<div class="nav-wrapper">
    <MudNavMenu>
        <MudNavLink Href="" Match="NavLinkMatch.All" Icon="material-symbols-outlined/exercise">Home</MudNavLink>
        <MudNavLink Href="history" Icon="material-symbols-outlined/history">History</MudNavLink>
        <MudNavLink Href="settings" Icon="material-symbols-outlined/settings">Settings</MudNavLink>
    </MudNavMenu>
</div>