@page "/history"
@using WorkoutManager.BusinessLogic.DTOs

<PageTitle>Workout History</PageTitle>

<MudText Typo="Typo.h4" GutterBottom="true">Workout History</MudText>

@if (_sessions is null)
{
    <div class="d-flex justify-center">
        <MudProgressCircular Indeterminate="true" />
    </div>
}
else if (!_sessions.Any())
{
    <MudText>You haven't completed any workouts yet.</MudText>
}
else
{
    <div class="d-flex flex-wrap gap-4">
        @foreach (var session in _sessions)
        {
            <MudCard Class="mb-4" Style="min-width: 300px">
                <MudCardHeader Class="justify-space-between">
                    <div>
                        <MudText Typo="Typo.caption" style="text-transform: uppercase" Class="">Plan name</MudText>
                        <MudText Typo="Typo.h5">@session.PlanName</MudText>
                    </div>
                </MudCardHeader>
                <MudCardContent Class="d-flex justify-space-between">
                    <div>
                        <MudText Typo="Typo.caption" style="text-transform: uppercase">Training day</MudText>
                        <MudText Typo="Typo.subtitle2">@session.TrainingDayName</MudText>
                    </div>
                    <div class="self-start">
                        <MudText Typo="Typo.caption" style="text-transform: uppercase">Date</MudText>
                        <MudText Typo="Typo.subtitle2">@session.StartTime.ToString("dd-MM-yyyy")</MudText>
                    </div>
                    @if (session.EndTime.HasValue)
                    {
                        <div>
                            <MudText Typo="Typo.caption" style="text-transform: uppercase">Duration</MudText>
                            <MudText Typo="Typo.subtitle2">
                                @((session.EndTime.Value - session.StartTime).ToString(@"hh\:mm\:ss"))
                            </MudText>
                        </div>
                    }
                </MudCardContent>
                <MudCardActions>
                    <MudButton OnClick="() => NavigateToSession(session.Id)" Variant="Variant.Text" Color="Color.Primary">View details</MudButton>
                </MudCardActions>
            </MudCard>
        }
    </div>

    @if (PageCount > 1)
    {
        <MudPagination Count="PageCount" />
    }
}
